.form-container{
  width: 100%;
  height: 100%;
  margin: 0;
}

.city-form {
  padding: 20px;
  width: 20%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.restaurant-form {
  padding: 20px;
  width: 20%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.review-form {
  padding: 20px;
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  border-collapse: collapse;
}

.city-container {
  width: 35%;
  height: 100%;
  float: left;
}

.each-city {
  padding: 5px
}
